#left-eye {
  animation: translate 3s linear infinite;
}

#right-eye {
  animation: right-translate 3s linear infinite;
}

#left-ear {
  transition: all .5s linear;
  transform-origin: 49px 49px;
}

#right-ear {
  transition: all .5s linear;
  transform-origin: 189px 48px;
}

#face:hover #left-ear {
  transform: rotate(20deg);
}

#face:hover #right-ear {
  transform: rotate(-20deg);
}

@keyframes translate {

  0% {
    transform: translateX(-10px);
  }

  50% {
    transform: translate(10px);
  }

  100% {
    transform: translate(-10px);
  }

}

@keyframes right-translate {

  0% {
    transform: translateX(-10px);
  }

  50% {
    transform: translate(10px);
  }

  100% {
    transform: translate(-10px);
  }

}
